<html>
  <head>
    <title>Mustache.js Inline Method</title>
   <script type="text/javascript" src="mustache.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
 <script type="text/javascript" src="jquery.cookie.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	var roles = $.cookie("roles");
	if(roles == null || roles == "") {
		$.cookie("next-login", "/admin.html", { path: '/' });
		window.location.href = "/login.html";
	}
 	var username = $.cookie("username"); 
    var session = $.cookie("session");
    if(roles.indexOf("PAGE_1") >= 0 || roles.indexOf("ADMIN") >= 0) {
        jQuery("#page1").show();
    };
    if(roles.indexOf("PAGE_2") >= 0 || roles.indexOf("ADMIN") >= 0) {
      jQuery("#page2").show();
    };
    if(roles.indexOf("PAGE_3") >= 0 || roles.indexOf("ADMIN") >= 0) {
        jQuery("#page3").show();
    };
    if(roles.indexOf("PAGE_1") >= 0 || roles.indexOf("PAGE_2") >= 0 || roles.indexOf("PAGE_3") >= 0 ||roles.indexOf("ADMIN") >= 0) {
        jQuery("#admin").show();
    }
    console.log($.cookie());
     $.ajax({
          'url': 'http://localhost:8080/users',
          'type' : 'GET',
          contentType: "application/json; charset=utf-8",
          dataType: "text",
          'beforeSend': function(xhr) {
            xhr.setRequestHeader("username", $.cookie("username"));
            xhr.setRequestHeader("roles", $.cookie("roles"));
            xhr.setRequestHeader("session", $.cookie("session"));
          },      
          success:  function(result, status, xhr) {
            load();
            $.cookie("session", xhr.getResponseHeader('session'),  { path: '/' });
            var obj = JSON.parse(result);

          template = $('#template').html(),
       
          output = Mustache.render(template, obj);
       
          $('#container').append(output);
          },
          error: function(result) {
            	if(result.status == 403) {
                alert("Cookie expired");
                $.removeCookie("next-login", { path: '/' });
                $.cookie("next-login", "/admin.html",  { path: '/' });
                window.location.href="/login.html";
              } else {
                alert("You do not have permission here!");
                $.removeCookie("next-login", { path: '/' });
                window.location.href="/panel.html";
              }
          }
        });
});
</script>
    <script type="text/javascript">
      var view = {
        name : $.cookie("username"),
      };

      function load(){
        var output = Mustache.render("Hello {{name}}", view);
        document.getElementById('hello').innerHTML = output;
      }
        function removeCookie() {
    		var cookies = $.cookie();
    		console.log(cookies);
    		for(var cookie in cookies) {
           		$.removeCookie(cookie, {path : "/"});
    		}
    	}
    </script>
  </head>
  <body >
    <div align="center">
      <a id="page1" style="display:none;" href="/page1.html">Page 1 |</a> 
      <a id="page2" style="display:none;" href="/page2.html">Page 2 |</a>
      <a id="page3" style="display:none;" href="/page3.html">Page 3 |</a>
      <a id="admin" style="display:none;" href="/admin.html">Admin |</a>
      <a onclick="removeCookie();" href="/login.html?logout=true">Logout</a>
      <div id="hello">
        
      </div>
    </div>
    <script type="text/html" id="template">
        <table style="width:100%;">
        <thead>
          <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody id="userinfo">
            {{#.}}
            <tr>
              <td>{{id}}</td>
              <td>{{username}}</td>
              <td>{{password}}</td>
            </tr>
            {{/.}}
        </tbody>
      </table>
    </script>
     
    <!-- this div is empty on page load -->
    <div id="container"></div>

  </body>
</html>