<html>
  <head>
    <title>Mustache.js Inline Method</title>
   <script type="text/javascript" src="mustache.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
 <script type="text/javascript" src="jquery.cookie.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    var username = $.cookie("username"); 
    var roles = $.cookie("roles");
    var session = $.cookie("session");
    if(roles.indexOf("PAGE_1") >= 0 || roles.indexOf("ADMIN") >= 0) {
        jQuery("#page1").show();
    } 
    if(roles.indexOf("PAGE_2") >= 0 || roles.indexOf("ADMIN") >= 0) {
      jQuery("#page2").show();
    } 
    if(roles.indexOf("PAGE_3") >= 0 || roles.indexOf("ADMIN") >= 0) {
        jQuery("#page3").show();
    } 
    if(roles.indexOf("PAGE_1") >= 0 || roles.indexOf("PAGE_2") >= 0 || roles.indexOf("PAGE_3") >= 0 ||roles.indexOf("ADMIN") >= 0) {
                  jQuery("#admin").show();
              }
})      
</script>

    <script type="text/javascript">
    
    </script>
    <script>
      var view = {
        name : "Joe",
        occupation : "Web Developer"
      };

      function loadtemp(){
        var output = Mustache.render("{{name}} is a  {{occupation}}", view);
        document.getElementById('person').innerHTML = output;
      }
       function removeCookie() {
          var cookies = $.cookie();
          console.log(cookies);
          for(var cookie in cookies) {
             $.removeCookie(cookie);
          }
        }
    </script>
  </head>
  <body >
    <div align="center">
    	<a id="page1" style="display:none;" href="/page1.html">Page 1 |</a> 
    	<a id="page2" style="display:none;" href="/page2.html">Page 2 |</a>
    	<a id="page3" style="display:none;" href="/page3.html">Page 3 |</a>
      <a id="admin" style="display:none;" href="/admin.html">Admin |</a>
      <a onclick="removeCookie();" href="/login.html?logout=true">Logout</a>
    </div>
  </body>
</html>